.container {
    max-width: 60rem;
    margin: 0 auto;
    background: #fff;
    padding: 1rem;
}

.card {
    width: 47%;
    max-width: 300px;
    display: flex;
    margin: 0.5rem;
}

img {
    max-width: 50%;
    display: block;
    object-fit: cover;
}

.text-container {
    font-size: 0.8rem;
    display: inline-block;
    margin-left: 0.8rem;
}

.list-container {
    display: flex;
    flex-wrap: wrap;
    padding: 0.25rem;


}

h1 {
    font-size: 1.6rem;
    padding: 0.7rem;
    text-align: center;
    margin-bottom: 1rem;
}

h3 {
    font-size: 1rem;
}

.title {
    color: grey;
    font-size: 0.8rem;
}

p, h3 {
    margin-bottom: 0.5rem;
}

button {
    text-transform: uppercase;
    display: inline-block;
    cursor: pointer;
    padding: 0.8rem;
    margin-right: 0.7rem;
    border: none;
    border-radius: 0.6rem;
    background: #2ee9ff
}

button:hover {
    background: #5d91ff;;
}

button:disabled {
    background: lightgray;
}

.loader {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    border: 2px dotted green;
    animation: rotateLoader 1s infinite linear;
}

@keyframes rotateLoader {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }

}

.loading-container {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

.error {
    text-align: center;
    padding: 0.8rem;
    color: red;
    font-size: 2rem;
}

.btn {
    margin-top: 0.8rem;
}

@media screen and (min-width: 968px) {
    .card {
        width: calc(25% - 1rem);
    }
}